<div class="row complete">
    <div class="col-lg-12 text-center" id="success">
		<h2 style="color: #ffffff;">Thanks for Contacting Us</h2>
		<p>We look forward to responding to your question or reading your request for a blog post!</p>
	</div>
</div>